doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86")
    title= title
    link(rel="preconnect" href="https://fonts.bunny.net")
    link(href="https://fonts.bunny.net/css?family=cabin:400,400i,700,700i" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/dropdown_form.js")
  body.max-w-320.p-6.bg-red-50
    block content